@import "../utils/variables";

.collapse-block {
  margin-left: auto;
  margin-right: auto;
  h1 {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
  }
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $text-primary;
  color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-content {
  background-color: $background-grey;
  color: $text-primary;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease-in-out;
  &.active {
    max-height: 800px;
    transition: max-height 0.6s ease-in-out;
  }
}

.collapse-text-content {
  padding: 2%;
  p,
  li {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 35px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
