footer {
  width: 100%;
  background-color: black;
  min-height: 175px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;

  img {
    padding-top: 15%;
  }
}
