@import "../utils/variables";

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  width: 90%;
  margin: auto;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    .link-container {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
    a {
      color: $text-primary;
      font-size: 1.5rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
