.slideshow-container {
  position: relative;
  margin-top: 3%;
  .house-picture {
    object-fit: cover;
    height: 555px;
    width: 100%;
  }
}

.arrow {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 40%;
}

.left-arrow {
  left: 60px;
}

.right-arrow {
  right: 60px;
}
