@import "../utils/variables";

.main-container-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  h1 {
    margin-bottom: 1%;
    color: $text-primary;
    font-size: 18rem;
    font-weight: 700;
    @media (max-width: $mobile) {
      font-size: 9rem;
    }
  }
  p {
    color: $text-primary;
    font-size: 2rem;
    @media (max-width: $mobile) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  a {
    margin-top: 6%;
    margin-bottom: 6%;
    color: $text-primary;
    font-size: 1.15rem;
    @media (max-width: $mobile) {
      margin-top: 20%;
      margin-bottom: 15%;
    }
  }
}
