@import "../utils/variables";

h1,
h2 {
  color: $text-primary;
  font-weight: 500;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 0;
}

.infos-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.tags {
  display: flex;
}

.renter {
  display: flex;
  height: 100px;
  @media (max-width: $mobile) {
    margin-top: 30px;
    justify-content: flex-end;
  }
  .renter-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text-primary;
    font-size: 20px;
    span {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
  .profile-pic {
    object-fit: cover;
    border-radius: 50%;
  }
}

.renter-infos {
  position: relative;
  .stars {
    position: absolute;
    bottom: 5px;
    right: 0;
    min-width: 175px;
    @media (max-width: $mobile) {
      left: 0;
      bottom: 30px;
    }
    img {
      margin-left: 5px;
    }
  }
}

.house-collapse-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  .collapse-part {
    width: 45%;
    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: 5%;
    }
  }
}
